<style>
.buy-box-container {
    border: 1px solid #E5E5E5;
    border-radius: 1px;
    margin-top: 20px;
}
.inner-cta-container {
    padding: 20.5px 18.5px;
}
.inner-disclaimer-container {
    background-color: #F5F5F5;
    padding: 20.5px 15.5px;
}
.inner-disclaimer-container span {
    font-style: oblique;
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    line-height: 16px;
    display: block;
}
.packaging-options-container {
    margin-bottom: 10px;
}
.packaging-options-container .packaging-options-label {
    color: #393D40;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.43px;
    text-transform: capitalize;
}
.packaging-options-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.packaging-option {
    height: 53px;
    width: 53px;
    margin-right: 9px;
    border: 1px solid #E5E5E5;
    border-radius: 1px;
    background: white;
    padding: 0;
    min-height: 0;
    display: flex;
    justify-content: center;
    transition: .15s opacity linear;
}
.packaging-option:hover {
    cursor: pointer;
    opacity: 0.75;
    background: none;
}
.packaging-option.active {
    border: 3px solid #1BB9E6;
}
.packaging-option.active:hover {
    opacity: 1;
    cursor: initial;
}
.packaging-option img {
    height: 100%;
    object-fit: contain;
    
}
.variant-title {
    font-size: 13px;
    display: block;
    line-height: 13px;
    font-weight: 500;
    color: #333333;
}
.subscription-explanation-section span {
    text-align: center;
    font-size: 13px;
    display: block;
    line-height: 19px;
    color: #333333;
}
.subscription-explanation-section span.bolded {
    font-weight: bold;
}

.out-of-stock-container {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: gray;
    border-radius: 6px;
    padding: 11px;
    display: block;
}

.subscribe-button {
    border-radius: 3px;
    background-color: #215D6B;
    padding: 11px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    transition: .15s opacity linear;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: initial;
    height: initial;
}
.subscribe-button:hover {
    opacity: 0.75;
    border: 0;
    background-color: #215D6B;
}
.subscribe-button .text-container {
    position: relative;
    flex-grow: 1;
}
.subscribe-button .chevron {
    position: absolute;
    right: 10px;
}
.subscribe-button .main-text {
    text-transform: capitalize;
    display: block;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.4px;
    font-weight: bold;
}
.subscribe-button .secondary-text {
    font-size: 13px;
    display: block;
    line-height: 19px;
    font-style: oblique;
}
.one-time-purchase-button {
    padding: 10px;
    transition: .15s all linear;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    background: none;
    width: 100%;
    min-height: initial;
    height: initial;
}

.one-time-purchase-button.no-subscribe {
    background-color: #355C7E !important;
    border-radius: 3px;
    padding: 11px;
}

.one-time-purchase-button.no-subscribe .main-text {
    color: white;
    border-bottom: 0;
}

.one-time-purchase-button:hover {
    opacity: 0.75;
    border: none;
    background: none;
}

.one-time-purchase-button.no-subscribe:hover {
    background-color: #355C7E !important;
    opacity: 0.75;
    border: none;
}

.one-time-purchase-button .main-text {
    color: #014E70;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    display: inline-block;
    border-bottom: 1px solid #014E70;
}
.one-time-purchase-button .cart-icon {
    margin-right: 6px;
    display: inline-block;
}

.one-time-purchase-button.no-subscribe .cart-icon * {
    stroke: white !important;
}

.or-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.or-line {
    border-bottom: 1px solid #c7c7c7;
    width: 30%;
    display: block;
}
.or-text {
    display: block;
    background: white;
    padding: 6px;
    margin-left: 4px;
    margin-right: 4px;    
    line-height: 19px;
    font-size: 13px;
    font-weight: bold;
}
.frequency-modal-outer {
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transition: .2s opacity ease-in-out;
    background: rgba(0,0,0,0.4);
    opacity: 0;
}
.frequency-modal-outer.active {
    pointer-events: initial;
    opacity: 1;
}
.frequency-modal-outer .frequency-modal-inner {
    transition: .2s transform ease-in-out, .2s opacity ease-in-out;
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    max-width: 100%;
    width: 375px;
    border-radius: 6px;
    padding: 20px;
    padding-top: 10px;
    background: white;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.1);
}
.frequency-modal-outer.active .frequency-modal-inner {
    opacity: 1;
    transform: translateY(0);
}
.frequency-modal-inner .modal-close {
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    color: #4a4a4a;
    position: absolute;
    right: 20px;
    top: -40px;
}
.frequency-modal-inner .modal-close:hover {
    opacity: 0.75;
}
.frequency-modal-inner .modal-header {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.frequency-modal-inner .modal-product-title {
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 0;
}
.frequency-modal-inner .modal-variant-title {
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 0;
}
.frequency-modal-inner .frequency-selection-container {
    margin-top: 25px;
}
.frequency-modal-inner .frequency-select-button {
    width: 100%;
    height: 44px;
    background: white;
    min-height: initial;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    margin-bottom: 9.5px;
    color: #4a4a4a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: .1s all linear;
    padding-left: 10px;
    padding-right: 10px;
}
.frequency-modal-inner .frequency-select-button:hover {
    background-color: #01AF99;
    color: white;
    opacity: 0.7;
}
.frequency-select-button.default {
    background-color: #01AF99;
    color: white;
}
.frequency-modal-inner .frequency-select-button.default .modal-pricing .strikethrough-price {
    color: white;
}
.frequency-modal-inner .frequency-select-button.default .modal-pricing .discount-price {
    color: white;
}
.frequency-select-button.default .modal-pricing .chevron polyline {
    stroke: white !important;
}
.frequency-modal-inner .frequency-select-button.default .frequency-label .cart-icon {
    stroke: white !important;
}
.frequency-modal-inner .frequency-select-button .frequency-label {
    font-size: 17px;
    font-weight: bold;
    line-height: 26px;
    display: flex;
    align-items: center;
}
.frequency-modal-inner .frequency-select-button .frequency-label .cart-icon {
    margin-right: 10px;
    stroke: #000;
}
.frequency-select-button .modal-pricing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.frequency-modal-inner .frequency-select-button .modal-pricing .strikethrough-price {
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    margin-right: 10px;
}
.frequency-modal-inner .frequency-select-button:hover .modal-pricing .discount-price {
    color: white;
}
.frequency-select-button .modal-pricing .chevron {
    margin-left: 6px;
    stroke: #000;
}
.frequency-modal-inner .frequency-select-button .modal-pricing .discount-price {
    font-size: 17px;
    font-weight: 900;
    line-height: 26px;
    color: #01AF99;
}
.inner-disclaimer-container.modal-disclaimer {
    display: none;
}
.pdp-ja-blog-section {
    display: none;
}
  .newStyles2020 {
    margin: 50px 0 0;
}
.newStyles2020 .pdp-ja-subscribe-break-wrapper.inf-styles {
    background-color: transparent;
}
.newStyles2020 h4 {
    font-family: 'KapraNeue' !important;
    text-transform: uppercase;
    font-size: 32px;
  	text-align: center;
    font-weight: 500;
    line-height: 40px;
}
  .pdp-ja-favorites {
	margin: 60px auto !important;
}
button.one-time-purchase-button.opt-atb-one-time.no-subscribe {
    display: block;
}
button.one-time-purchase-button.opt-atb-one-time {
    display: none;
}
  button.one-time-purchase-button.opt-atb-one-time.product-details-cust-5 {
    display: block;
}
.product-details button.action_button.add_to_cart {
  	max-width: 100%;
}
.subscription-explanation-section span.bolded {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}
.subscription-explanation-section span.bolded span {
    font-size: 14px;
    font-weight: 400;
}
  #shopify-section-product-template-redesign-2021 p.product-details-cust-2 {
    display: none;
}
  #shopify-section-product-template-redesign-2021 p.product-details-cust-4 {
    display: none;
}
/*   #shopify-section-product-template-redesign-2021 .pdp-ja-subscribe-break-wrapper {
  display: none;
  } */
#shopify-section-product-template-redesign-2021 label.subscription-widget-select-label {
    display: none;
}
  #shopify-section-product-template-redesign-2021 .subscription-widget-new {
    width: 100%;
}
.subscription-types-container-new .subscription-widget-select {
  	min-height: 40px;
    height: 40px;
  }
  .information-section-wrapper a.nav-slider-option.active {
    font-size: 12px !important;
    line-height: 18px;
    padding: 0px !important;
    padding: 0 0 5px;
}
.pdp-redesign-wrapper .product-form-container .product-form-info-images-wrapper {
    padding: 10px 0px 0px 0px !important;
    background-color: #e5e9ec;
    width: 48.5%;
    margin-left: 19px;
}
.information-section-wrapper a.nav-slider-option {
    font-size: 12px !important;
    line-height: 18px;
    padding: 0 0 5px;
}
.pdp-redesign-wrapper .padding {
    padding: 10px 0px 0px 0px !important;
    background-color: #e5e9ec; 
}
.pdp-redesign-wrapper .product-form-container .pdp-form-inputs-wrapper {
    width: 48.5%;
    margin-right: 19px;
}
.pdp-form-inputs-wrapper .packaging-options-container .packaging-options-list {
    margin-bottom: 15px;
}
.quote-box-text {
    background-color: #F4F7F7 !important;
}
/* .pdp-form-inputs-wrapper .packaging-options-container span.variant-title {
    display: none;
} */
.pdp-quote-box .quote-box-image:after {
  display: none;
}
.pdp-ja-favorites .newStyles2021 .grid-4 .newProductCard .prodTag {
    display: none;
}
.breadcrumb_text {
    margin-left: 20px;
}
@media (max-width: 480px) {
    .frequency-modal-outer {
        align-items: flex-end;
    }
    .frequency-modal-outer .frequency-modal-inner {
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        border-radius: 10px;
    }
    .modal-content-wrapper {
        padding: 20px;
    }
    .inner-disclaimer-container.modal-disclaimer {
        display: block;
    }
    .buy-box-container {
        border: 0;
        margin-top: 0;
    }
    .subscribe-button {
        padding: 11px 16px;
    }
    .inner-cta-container {
        padding-bottom: 10px;
        padding-top: 0;
    }
    .pdp-redesign-wrapper .buy-box-container .quantity-wrapper {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
        padding-top: 10px;
    }  
    .pdp-ja-what-is-collagen-box.whit-is-collagen .what-is-collagen-image {
          width: 50%;
          height: auto;
    }
    .pdp-ja-favorites .newStyles2021 .grid-4 {
          width: 100% !important;
          max-width: 100% !important;
          margin-left: 0px !important;
    }
    .pdp-ja-what-is-collagen-box.whit-is-collagen {
          width: 50%;
          margin: 0 auto;
          height: auto;
    }
    .pdp-redesign-wrapper .js-product_section {
          margin-top: 80px;
    }
    .pdp-redesign-wrapper .padding {
        padding: 10px 0px;
    }
    .pdp-redesign-wrapper .mobile-show {
        display: block;
        padding: 10px 20px;
        background-color: white;
    }
    .pdp-redesign-wrapper .flickity-page-dots {
        width: 100%;
        margin-left: 0px !important;
    }
    .pdp-redesign-wrapper .gallery-wrap.js-product-page-gallery button.flickity-prev-next-button.previous {
        top: 200px !important;
        color: #355C7E !important;
        left: -40px !important;
        background-color: white !important;
        opacity: 99;
        border-radius: 0px !important; 
    }
    .pdp-redesign-wrapper .gallery-wrap.js-product-page-gallery button.flickity-prev-next-button.next {
        top: 200px !important;
        color: #355C7E !important;
        right: -12% !important;
        background-color: white !important;
        opacity: 99;
        border-radius: 0px !important;
    }
    .pdp-form-inputs-wrapper .buy-box-container .inner-cta-container {
        padding: 0 20px;
    }
    .pdp-ja-favorites {
        margin: 30px auto 0 !important;
    }
    .pdp-ja-favorites .newStyles2021 .grid-4 {
        width: 2300px !important;
        max-width: 2300px !important;
        margin-left: 0px !important;
    }
    .pdp-ja-favorites .newStyles2021 .detailsNew {
        justify-content: left;
    }
    .pdp-ja-what-is-collagen-box.whit-is-collagen {
        flex-direction: column-reverse !important;
        width: 100%;
    }
    .pdp-ja-what-is-collagen-box.whit-is-collagen .what-is-collagen-image {
        width: 100%;
        max-width: 100% !important;
        height: auto;
    }
    .pdp-ja-what-is-collagen-box.whit-is-collagen .what-is-collagen-text {
        width: 100%;
        padding: 0px 0px 0 !important;
    }
    .pdp-ja-what-is-collagen-box.whit-is-collagen h4.box-header {
        text-align: center;
    }
    .pdp-ja-what-is-collagen-box.whit-is-collagen p.box-body {
        text-align: center;
    }
    .pdp-ja-what-is-collagen-box.whit-is-collagen a {
        text-transform: capitalize;
        border: 2px solid #355C7E;
        text-align: center !important;
        max-width: 90%;
        padding: 8px 0 0;
        margin: 0 auto;
    }
    .pdp-ja-favorites .newStyles2021 .grid-4 {
        max-width: 100% !important;
        width: 100% !important;
        overflow: scroll;
    }
    .pdp-ja-favorites .newStyles2021  .newProductCard {
        max-width: 315px !important;
        width: 315px !important;
        border-right: 0px solid #fff !important;
        margin: 0 0px 30px 30px !important;
    }
    .newStyles2020 h4 {
        padding: 0 20px;
    }
    html.touchevents {
        padding-bottom: 0px !important; 
    }
    .information-section-wrapper .nav-slider {
      width: 100%;
  }
    .information-section-wrapper a.nav-slider-option.active {
      font-size: 12px !important;
      line-height: 18px;
      padding: 0 0 5px;
  }
    .information-section-wrapper a.nav-slider-option {
      font-size: 12px !important;
      line-height: 18px;
      padding: 0 0 5px;
  }
    .inner-disclaimer-container {
      display: block !important;
      margin-top: 20px;
  }
    .pdp-redesign-wrapper .information-section-wrapper {
      margin-top: 0px;
    }
    #shopify-section-product-template-redesign-2021 form {
      margin-bottom: 0px;
  }
  .pdp-redesign-wrapper .product-form-container .product-form-info-images-wrapper {
      padding: 0px 0px 0px 0px !important;
      background-color: #e5e9ec;
      width: 100%;
      margin-left: 0px;
  }
  .pdp-redesign-wrapper .product-form-container .pdp-form-inputs-wrapper {
      width: 100%;
      margin-right: 0px;
  }
  .information-section-wrapper .col-md-6 {
      max-width: 100% !important;
  } 
  .pdp-quote-box p.quote-body span:nth-child(1) {
      padding-bottom: 60px !important;
  }
  .pdp-quote-box p.quote-body span:nth-child(1) img {
      padding-bottom: 40px;
  }
  .subscribe-button .main-text {
      text-transform: capitalize;
      display: block;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.4px;
      font-weight: 600;
      font-family: 'Avenir Next';
  }
  .subscribe-button .secondary-text {
      font-size: 12px;
      display: block;
      line-height: 18px;
      font-family: 'Avenir Next';
      font-weight: 400;
  }
  .quote-body span.test-monial-cust-1 {
      line-height: 40px;
  } 
  .pdp-ja-what-is-collagen-box.whit-is-collagen img.whit-is-collagen-2 {
      height: 270px;
  }
}
</style>
<div class="buy-box-container">
    <div class="inner-cta-container">
        <div class="packaging-options-container">
            <span class="packaging-options-label">Packaging Options</span>
            <div class="packaging-options-list">
                {% for variant in product.variants %}
                    <button
                    data-variant-title="{{ variant.title }}" 
                    data-variant-standard-price="{{ variant.price | money_without_trailing_zeros}}"
                    data-variant-subscription-price="{{ variant.metafields.subscriptions.discount_variant_price }}" 
                    data-variant-id="{{ variant.id }}" 
                    data-variant-subscription-id="{{ variant.metafields.subscriptions.discount_variant_id }}"
                    data-available="{{ variant.available }}"
                    role="button" 
                    aria-label="Select {{ variant.title }} variant."
                    class="packaging-option {% if variant.id == initialVariant.id %}active{% endif %}">
                        <img alt="{{ variant.title }}" src="{{ variant.image | img_url: '50x' }}"/>
                    </button>
                {% endfor %}
            </div>
            <span class="variant-title">{{ initialVariant.title }}</span>
        </div>
        {% render 'pdp-quantity-select' %}
        <div class="cta-section-v2-container" {% if initialVariant.available == false %} style="display: none;" {% endif %}>
            {% if product.metafields.subscriptions.has_subscription %}
                <button class="subscribe-button opt-atb-subscription" role="button">
                    <div class="text-container">
                        <span class="main-text">Subscribe &amp; Save</span>
                        <span class="secondary-text">Select frequency (From <span class="subscription-price">${{ initialVariant.metafields.subscriptions.discount_variant_price }}</span>/week)</span>
                    </div>
                </button>
                <div class="hidden-input pid-{{ product.id }}">
                    <input class="frequency-num" {% if hasSubscription %}name="properties[shipping_interval_frequency]"{% endif %} type="hidden" value="{{ settings.default_subscription_frequency }}" >
                    <input class="frequency-type" {% if hasSubscription %}name="properties[shipping_interval_unit_type]"{% endif %} type="hidden" value="{{ product.metafields.subscriptions.shipping_interval_unit_type }}">
                </div>
                <div class="subscription-explanation-section">
                    <span class="bolded">{{ product.metafields.subscriptions.discount_percentage | round }}% discount, Free Shipping, and Free samples *</span>
                    <span>Cancel or change frequency any time</span>
                </div>
                <div class="or-block">
                    <div class="or-line left"></div>
                    <span class="or-text">or</span>
                    <div class="or-line right"></div>
                </div>
            {% endif %}
          	<button type="submit" class="one-time-purchase-button opt-atb-one-time {% if product.metafields.subscriptions.has_subscription == False %} no-subscribe {% endif %}">
              <span class="main-text product-details-cust">Subscribe & Save<br><span class="product-details-cust-1"> Select Frequency (from $18.75/week)</span> </span>
            </button>
          <p class="product-details-cust-2">25% discount, Free Shipping, and Free samples**<br><span class="product-details-cust-3"> Cancel or change frequency any time.</span></p>
          <p class="product-details-cust-4">or</p>
            <button type="submit" class="one-time-purchase-button opt-atb-one-time {% if product.metafields.subscriptions.has_subscription == False %} no-subscribe {% endif %} product-details-cust-5">
               <span class="main-text">Purchase one-time for <span class="one-time-price">{{ initialVariant.price | money_without_trailing_zeros }}</span></span>
            </button>
        </div>
        <div class="out-of-stock-container" {% if initialVariant.available == true %} style="display: none;" {% endif %}>
            <span>Sold out</span>
        </div>
    </div>
    <div class="inner-disclaimer-container" style="display:none;">
        <span>* Receive {% if product.metafields.subscriptions.discount_percentage %}{{ product.metafields.subscriptions.discount_percentage | round }} {% else %}25{% endif %}% off your first order and 15% off each order after (plus free shipping) when you subscribe. Other restrictions may apply.</span>
    </div>
    <div id="frequency-modal" class="frequency-modal-outer">
        <div class="frequency-modal-inner">
            <div class="modal-content-wrapper">
                <a href="#" class="modal-close"><svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 512 512'><title>ionicons-v5-l</title><line x1='368' y1='368' x2='144' y2='144' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='368' y1='144' x2='144' y2='368' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg></a>
                <p class="modal-header">Select subscription frequency</p>
                <p class="modal-product-title">{{ product.title }}</p>
                <p class="modal-variant-title">{{ initialVariant.title }}</p>
                <div class="frequency-selection-container">
                    {% assign subscriptionIntervals = product.metafields.subscriptions.shipping_interval_frequency | split: ',' %}
                    {% assign subscriptionUnitType = product.metafields.subscriptions.shipping_interval_unit_type %}
                    {% assign lastLetter = subscriptionUnitType | size | minus: 1 %}
                    {% assign subscriptionUnitTypeSingle = subscriptionUnitType | slice: 0, lastLetter %}
                    {% for interval in subscriptionIntervals %}
                        <button data-interval="{{ interval }}" class="frequency-select-button {% if interval == settings.default_subscription_frequency %}default{% endif %}">
                            <span class="frequency-label"><svg xmlns='http://www.w3.org/2000/svg' class="cart-icon" width='20' height='20' viewBox='0 0 512 512'><title>ionicons-v5-d</title><circle cx='176' cy='416' r='16' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><circle cx='400' cy='416' r='16' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><polyline points='48 80 112 80 160 352 416 352' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><path d='M160,288H409.44a8,8,0,0,0,7.85-6.43l28.8-144a8,8,0,0,0-7.85-9.57H128' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>Every {{ interval }} {{ interval | plus: 0 | pluralize: subscriptionUnitTypeSingle, subscriptionUnitType }}</span>
                            <div class="modal-pricing">
                                <span class="strikethrough-price"><s>{{ initialVariant.price | money_without_trailing_zeros }}</s></span>
                                <span class="discount-price">${{ initialVariant.metafields.subscriptions.discount_variant_price }}</span>
                                <svg class="chevron" xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'><title>ionicons-v5-a</title><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
                            </div>
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div class="inner-disclaimer-container modal-disclaimer">
                <span>* Receive {% if product.metafields.subscriptions.discount_percentage %}{{ product.metafields.subscriptions.discount_percentage | round }} {% else %}25{% endif %}% off your first order and 15% off each order after (plus free shipping) when you subscribe. Other restrictions may apply.</span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.frequency-modal-outer.active', function(e) {
        e.preventDefault();
        if (e.target === this) {
            closeModal();
        }
    });

    $(document).on('click', '.packaging-option', function(e) {
        e.preventDefault();
        var selectedProductInfo = $(this).data();

        $('.packaging-option').removeClass('active');
        $(this).addClass('active');
        updateVariantTitle(selectedProductInfo.variantTitle);
        updateOneTimeDisplayPrice(selectedProductInfo.variantStandardPrice);
        updateSubscriptionDisplayPrice(selectedProductInfo.variantSubscriptionPrice);
        updateAvailability(selectedProductInfo.available);
        $('.single-option-selector').val(selectedProductInfo.variantTitle).trigger('change');
        var selectedIndex = $('.single-option-selector option:selected').index();
        $('select[name="id"]').prop('selectedIndex', selectedIndex);
    }); 

    $(document).on('mousedown', '.packaging-option', function(e) {
        e.preventDefault();
    });

    $(document).on('click', '.cta-section-v2-container .subscribe-button', function(e) {
        e.preventDefault();
        //$('#frequency-modal').addClass('active');
        var selectedOption = $('select[name="id"] option:selected').data();
        $('select[name="id"] option:selected').val(selectedOption.subscriptionVariantId);
        $('.hidden-input .frequency-num').attr('name', 'properties[shipping_interval_frequency]');
        $('.hidden-input .frequency-type').attr('name', 'properties[shipping_interval_unit_type]');
        $('.hidden-input .frequency-num').val(4);
        $('.js-product_section .product_form').submit();
    });

    $(document).on('click', '.one-time-purchase-button', function(e) {
        var selectedOptionData = $('select[name="id"] option:selected').data();
        $('select[name="id"] option:selected').val(selectedOptionData.originalVariantId);
        $('.hidden-input.pid-{{ product.id }} .frequency-num').removeAttr('name');
        $('.hidden-input.pid-{{ product.id }} .frequency-type').removeAttr('name');
        $('.js-product_section .product_form').submit();
    });

    $(document).on('click', '.modal-close', function(e) {
        e.preventDefault();
        closeModal();
    });

    $(document).on('click', '.frequency-select-button', function(e) {
        e.preventDefault();
        var selectedOption = $('select[name="id"] option:selected').data();
        $('select[name="id"] option:selected').val(selectedOption.subscriptionVariantId);
        $('.hidden-input .frequency-num').attr('name', 'properties[shipping_interval_frequency]');
        $('.hidden-input .frequency-type').attr('name', 'properties[shipping_interval_unit_type]');
        $('.hidden-input .frequency-num').val($(this).data('interval'));
        $('.js-product_section .product_form').submit();
        closeModal();
    });

    function updateVariantTitle(title) {
        $('.variant-title').text(title);
        $('.modal-variant-title').text(title);
    }

    function updateOneTimeDisplayPrice(price) {
        $('.title-price-wrapper .pdp-price').text(price);
        $('.one-time-price').text(price);
        $('.frequency-modal-inner .strikethrough-price s').text(price);
    }

    function updateSubscriptionDisplayPrice(price) {
        $('.cta-section-v2-container .subscription-price').text('$' + price);
        $('.frequency-modal-inner .discount-price').text('$' + price);
    }

    function closeModal() {
        $('#frequency-modal').removeClass('active');
    }

    function updateAvailability(isAvailable) {
        if (isAvailable === false) {
            $('.cta-section-v2-container').hide();
            $('.out-of-stock-container').show();
        } else {
            $('.cta-section-v2-container').show();
            $('.out-of-stock-container').hide();
        }
    }
</script>