<style>
  #pagecontent {
    padding-bottom: 0px !important;
  }
  
  .modal-icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .modal-icon-container .icon-wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  
  .modal-icon-container .icon-wrapper svg {
    width: 30px;
    height: 100%;
    display: block;
    margin-right: 20px;
  }
  
  .container.main.content {
    padding: 0;
    background-color: #F5F6F7;
  }
  
.collagen-calculator-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}
  
  .collagen-calc-wrapper-inner {
    width: 200%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-evenly;
  }
  
  .cc-intro-page {
    transition: .25s transform ease-out;
    width: 50%;
    background-color: #F5F6F7;
  }
  
  .cc-intro-page.inactive {
    transform: translateX(-100vw);
  }
  
  .cc-information-section {
    padding: 20px;
    text-align: center !important;
  }
  
.cc-info-header {
    color: #ffffff;
    letter-spacing: 0px !important;
    text-transform: none;
    font-size: 36px;
    line-height: 40px;
    padding-right: 0;
    max-width: 90%;
}
  
  .cc-info-paragraph {
    font-size: 16px;
    line-height: 24px;
    color: #717F86;
  }
  
  .text-blue {
    font-weight: bold;
    color: #23b6e6;
  }
  
  a.underline {
    text-decoration: underline;
  }
  
  .read-more-link {
    color: #23b6e6;
  }
  
  .cc-form {
    margin-bottom: 0;
  }
  
  .cc-input-section {
    padding: 20px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -5px 19px 0px rgba(0,0,0,0.1);
    width: 100%;
  }
  
  .input-form-shield {
    display: none;
  }
  
  .cc-gender-select {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 20px;
  }
  
  .cc-why-select {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .cc-diet-select {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .cc-weight-age-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 33px;
  }
  
  .cc-number-input-container {
    display: inline-block;
    width: 33.33%;
    text-align: center;
  }
  
  .cc-number-input-container label {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .cc-number-input-container input[type="number"] {
    margin-bottom: 0;
    width: 90%;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
  }
  
  .cc-submit-button {
    min-height: 0;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #00AF9A;
    border-radius: 3px;
    transition: .2s opacity linear;
  }
  
  .cc-submit-button:hover {
    border: 0;
    background-color: #00AF9A;
    opacity: 0.7;
  }
  
  .cc-submit-button:disabled {
    background-color: gray;
  }
  
  .cc-submit-button:disabled:hover {
    opacity: 1;
  }
  
  .circle-wrapper {
    width: 140px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .circle-container {
    position: absolute;
    transform: rotateZ(-90deg);
  }
  
  circle.background {
    fill: transparent;
    stroke: #c1c0c0;
    stroke-width: 4;
    opacity: 0.5;
  }
  
  circle.gradient.active {
    fill: transparent;
    stroke: url(#circle-gradient);
    stroke-width: 4;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
  }
  
  circle.gradient.active.quarter {
    animation: rotateQuarter 1.5s ease-out forwards;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
  }
  
  circle.gradient.active.half {
    animation: rotateHalf 1.5s ease-out forwards;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
  }
  
  circle.gradient.active.threeQuarters {
    animation: rotateThreeQuarters 1.5s ease-out forwards;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
  }
  
    circle.gradient.active.full {
    animation: rotateFull 1.5s ease-out forwards;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
  }

  @keyframes rotateQuarter {
    to {
      stroke-dashoffset: 270;
    }
  }
  
  @keyframes rotateHalf {
    to {
      stroke-dashoffset: 180;
    }
  }
  
  @keyframes rotateThreeQuarters {
    to {
      stroke-dashoffset: 90;
    }
  }
  
    @keyframes rotateFull {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .circle-text {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .circle-number {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    margin-left: 10px
  }
  
  .circle-grams {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0px;
  }
  
  .below-circle-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .cc-results-page {
    transition: .2s transform ease-out;
    width: 50%;
    transform: translateX(-100%);
    max-height: initial;
    padding-top: 20px;
    background-color: #F5F6F7;
  }
  
  .cc-results-page.inactive {
    transform: translateX(50%);
    max-height: 0;
  }
  
  .cc-results-page .cc-info-paragraph {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .cc-results-header {
    color: #23b6e6;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px !important;
    margin-bottom: 0;
  }
  
  .cc-bundles-section {
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -5px 19px 0px rgba(0,0,0,0.1);
    width: 100%;
    margin-top: 30px;
  }
  
  .cc-bundles-title {
    padding-left: 20px;
    padding-right: 20px;
    color: #23b6e6;
    font-size: 32px;
    line-height: 40px;
    text-transform: none;
    letter-spacing: 0px !important;
    margin-bottom: 0;
    text-align: left;
  }
  
  .cc-bundles-subtitle {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .cc-bundle-scroll-list {
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
  }
  
  .cc-bundle-scroll-list .bundle-list-item {
    width: 60%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
    text-align: center;
    vertical-align: top;
  }
  
  .bundle-list-item .bundle-name {
    color: #23b6e6;
    letter-spacing: 0px !important;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    height: 56px;
  }
  
  .bundle-list-item .bundle-image {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .bundle-list-item .bundle-cta {
    width: 100%;
    background-color: #00AF9A;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 200px;
    padding-top: 13px;
    padding-bottom: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    transition: .2s opacity ease-out;
  }
  
  .bundle-list-item .bundle-cta:hover {
    opacity: 0.75;
  }
  
  .cc-more-info-modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10000;
    transition: .2s opacity linear;
    opacity: 0;
    pointer-events: none;
    touch-events: none;
  }
  
  .cc-more-info-modal.active {
    opacity: 1;
    pointer-events: initial;
    touch-events: initial;
  }
  
  .cc-more-info-modal-inner {
    margin-top: 10%;
    height: 70%;
    width: 90%;
    max-width: 600px;
	background: white;
    border-radius: 10px;
    padding: 20px;
    transition: .25s transform ease-in-out;
    transform: translateY(130%);
  }
  
  .cc-more-info-modal.active .cc-more-info-modal-inner {
    transform: translateY(0);
  }
  
  .cc-more-info-modal-inner .cc-info-header {
    font-size: 28px;
    line-height: 34px;
    padding-right: 0;
  }
  
  .cc-modal-icon-section img {
    height: 32px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .cc-modal-header-section {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .cc-modal-text-section {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .cc-modal-close-section {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-close {
    min-height: 0;
    width: 107px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    display: block;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #23b6e6;
  }
  
  .newsletter-section {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
  }

  .newsletter-header {
    display: none;
    font-size: 48px;
    line-height: 55px;
    color: #23b6e6;
    letter-spacing: 0px !important;
    text-transform: none;
    margin-bottom: 0;
    padding-bottom: 17px;
  }
  
  .cc-newsletter-form {
    margin-bottom: 50px;
  }

  .newsletter-subtitle {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
  }

  .newsletter-subtitle img {
    height: 24px;
    margin-right: 16px;
  }

  .newsletter-section .newsletter-email {
    width: 400px;
    display: inline-block;
    margin-right: 16px;
    width: calc(60% - 16px);
    height: 48px;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid #CDD2D5;
  }

  .newsletter-section .newsletter-button {
    display: inline-block;
    text-transform: uppercase;
    min-height: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    width: 38%;
    height: 48px;
  }
  
  .cc-lively-section {
    margin-top: 50px;
  }
  
  .lively-grid-scroll {
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .lively-grid-item {
    height: 300px;
    width: 60%;
    text-align: left;
    display: inline-block;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
  }

  .lively-grid-item:first-child {
    margin-left: 20px;
  }

  .lively-grid-item:last-child {
    margin-right: 20px;
  }

  .lively-text-container {
    padding: 10px;
    height: 50%;
  }
  
  .lively-category {
    letter-spacing: 0px !important;
    text-transform: none;
    color: #23b6e6;
    font-size: 24px;
    margin-bottom: 0;
    padding: 0;
  }
  
  .lively-excerpt {
    width: 100%;
    white-space: initial;
    margin-bottom: 20px;
    color: #393D40;
    line-height: 22px;
    font-weight: bold;
    font-size: 14px;
    max-height: calc(22px * 3);
    overflow: hidden;
  }
  
  .lively-image-container {
    width: 100%;
    height: 50%;
    background-image: url('{{'CollagenBar.png' | file_img_url: '220x' }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .bundle-price-group {
    margin-bottom: 20px;
  }
  
  .bundle-was-price {
    font-size: 16px;
    line-height: 24px;
    color: #CDD2D5;
    font-weight: bold;
    text-decoration: line-through;
  }
  
  .bundle-price {
    margin-left: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #23b6e6;
    font-weight: bold;
  }
  
  @media screen and (min-width: 800px) {
.cc-intro-page {
    padding-top: 112px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}
    
    .cc-intro-page-inner {
      display: flex;
      flex-direction: row;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .cc-information-section {
    width: 65%;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
    .cc-information-section .cc-info-header {
      font-size: 72px;
      line-height: 80px;
      margin-bottom: 54px;
      color: white;
    }
    
    .cc-information-section .cc-info-paragraph {
      font-size: 24px;
      line-height: 30px;
      color: white;
    }
    
    .cc-information-section .cc-info-paragraph .text-blue {
      color: white;
    }
    
.read-more-link {
    display: table;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    text-decoration: underline;
    color: white;
}
    
    .cc-form {
      width: 440px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .cc-input-section {
      border-radius: 8px;
      padding: 40px;
    }
    
    .input-form-shield {
      height: 64px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 20px;
    }
    
    .cc-why-select {
    	margin-bottom: 20px;
      	font-size: 18px;
      	line-height: 25px;
    }
    
    .cc-gender-select {
      	font-size: 18px;
      	line-height: 25px;
    }
    
    .cc-diet-select {
    	margin-bottom: 20px;
      	font-size: 18px;
      	line-height: 25px;
    }
    
    .cc-weight-age-row {
    	margin-top: 44px;
    	margin-bottom: 40px;
    }
    
    .cc-submit-button {
    	height: 48px;
      	font-size: 16px;
      line-height: 22px;
    }
    
    .cc-more-info-modal-inner {
	   padding: 40px 98px;
       max-height: 550px;
       overflow-y: scroll;
    }
    
    .cc-more-info-modal-inner .cc-info-header {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    
    .cc-more-info-modal-inner .cc-modal-text-section {
      height: auto;
    }
    
    .cc-more-info-modal-inner .cc-modal-close-section {
      height: auto;
      margin-top: 28px;
    }
    
    .modal-close:hover {
      color: white;
    }
    
    .cc-modal-header-section {
      justify-content: center;
      height: auto;
    }
    
    .cc-results-page {
      background-color: #F5F6F7;
      padding-top: 42px;
    }
    
    .cc-results-page .cc-info-paragraph {
      text-align: center;
      font-size: 20px;
      line-height: 26px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .cc-results-header {
      font-size: 40px;
      line-height: 48px;
    }
    
    .below-circle-text {
      font-size: 20px;
      line-height: 27px;
      color: #717F86;
    }
    
    .circle-wrapper {
      height: 200px;
      width: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    circle.background {
      fill: transparent;
      stroke: #c1c0c0;
      stroke-width: 6;
      opacity: 0.5;
    }

    circle.gradient.active {
      fill: transparent;
      stroke: url(#circle-gradient);
      stroke-width: 6;
      stroke-dasharray: 720;
      stroke-dashoffset: 720;
    }

    @keyframes rotateQuarter {
      to {
        stroke-dashoffset: 590;
      }
    }

    @keyframes rotateHalf {
      to {
        stroke-dashoffset: 470;
      }
    }

    @keyframes rotateThreeQuarters {
      to {
        stroke-dashoffset: 340;
      }
    }
    
    @keyframes rotateFull {
      to {
        stroke-dashoffset: 200;
      }
    }
    
    .circle-number {
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      margin-left: 10px
    }
    
    .cc-newsletter-form {
      margin-bottom: 20px;
    }
    
    .cc-bundles-section {
      margin-top: 50px;
      box-shadow: none;
      background-color: white;
      border-radius: 0;
      padding-top: 10px;
    }
    
    .cc-bundles-section-inner {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .cc-bundles-title {
      font-size: 48px;
      line-height: 58px;
    }
    
    .cc-bundles-subtitle {
      font-size: 20px;
      line-height: 26px;
    }
    
    .cc-bundle-scroll-list {
      overflow-x: hidden;
    }
    
    .cc-bundle-scroll-list .bundle-list-item {
      width: calc(25% - 28px);
      margin-left: 14px;
      margin-right: 14px;
    }
    
    .cc-bundle-scroll-list .bundle-list-item .bundle-image {
      height: 240px;
      margin-bottom: 20px;
    }
    
    .newsletter-section {
      max-width: 60%;
    }
    
    .newsletter-header {
      display: block;
    }
    
    .lively-grid-item  {
      width: calc(25% - 28px);
    }
    
  }
</style>
<div class="collagen-calculator-wrapper">
  <div class="collagen-calc-wrapper-inner">
    <div class="cc-intro-page" style="background-color:{{ section.settings.v3-collagen-calculator-bg-color }};
                                      {% if section.settings.v3-collagen-calculator-image != blank %}
                                      background-image:url( {{ section.settings.v3-collagen-calculator-image| img_url: '1440x' }} );background-repeat:no-repeat;background-size:cover;background-position:top center;
                                      {% endif %} 
                                      ">
      <div class="cc-intro-page-inner">
        <div class="cc-information-section">
          <h1 class="cc-info-header" style="color:{{ section.settings.v3-collagen-calculator-text-color }};">{{ section.settings.v3-collagen-calculator-heading }}</h1>
          <p class="cc-info-paragraph" style="color:{{ section.settings.v3-collagen-calculator-text-color }};">{{ section.settings.v3-collagen-calculator-subhead }} <a class="read-more-link" href="#">Read More</a></p>
        </div>
        <form class="cc-form">
          <h3 style="    text-transform: capitalize;color: #ffffff;font-size: 34px;text-align: center;margin: 0px;margin-bottom: 8px;">Collagen Calculator&trade;</h3>
          <div class="cc-input-section">
            <img class="input-form-shield lazyload" src="{{ 'VitalProteins_Shields_Blue_Outline_small_80788aee-0d09-417f-bc5f-78ffb0b60c9c.png' | file_img_url: '128x' }}"/>
            <select name="cc-why" class="cc-why-select">
              <option value="why">Why are you taking collagen?</option>
              <option value="wellness">Overall Wellness</option>
              <option value="beauty">Beauty Benefits</option>
              <option value="youth">Youthful Appearance</option>
              <option value="joint">Joint Health</option>
              <option value="fitness">Fitness benefits</option>
            </select>
            <select name="cc-diet" class="cc-diet-select">
              <option value="high">I am on a High Protein Diet</option>
              <option value="average">I am on an Average Protein Diet</option>
              <option value="low">I am on a Low Protein Diet</option>
            </select>
            <select name="cc-gender" class="cc-gender-select">
              <option value="female">I am a Female</option>
              <option value="male">I am a Male</option>
              <option value="other">I'd Rather Not Say</option>
            </select>
            <div class="cc-weight-age-row">
              <div class="cc-number-input-container">
                <label for="cc-weight">Weight In LBS</label>
                <input class="cc-weight-input" required name="cc-weight" type="number" min="0" max="900" step="1"/>
              </div>
              <div class="cc-number-input-container">
                <label for="cc-age">Age</label>
                <input class="cc-age-input" required name="cc-age" type="number" min="0" max="110" step="1"/>
              </div>
            </div>
            <div class="cc-submit-container">
              <button class="cc-submit-button" disabled type="submit">Calculate</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="cc-results-page inactive">
      <h3 class="cc-results-header">We Recommend</h3>
      <div class="circle-wrapper">
        <svg class="circle-container" height="100%" width="100%">
          <linearGradient x1="0" y1="0" x2="100%" y2="100%" id="circle-gradient">
            <stop stop-color="#03c5d7" offset="0%"/>
            <stop stop-color="#23b6e6" offset="100%"/>
          </linearGradient>
          <circle class="background" cx="50%" cy="50%" r="40%"/>
          <circle class="gradient" cx="50%" cy="50%" r="40%"/>
        </svg>
        <div class="circle-text">
          <span class="circle-number">25</span>
          <span class="circle-grams">g</span>
        </div>
      </div>
      <p class="below-circle-text">Of Collagen A Day*</p>
      <div class="cc-bundles-section">
        <div class="cc-bundles-section-inner">
          <div class="newsletter-section">
            <h5 class="newsletter-header">Your Results &amp; Custom Collagen Picks, Straight To Your Inbox</h5>
            <div class="newsletter-subtitle">
              <img src="{{ 'VitalProteins_Shields_Blue_Outline_small_80788aee-0d09-417f-bc5f-78ffb0b60c9c.png' | file_img_url: '60x' }}"/>
              <span>Type in your email address to save your results for the future and get customized recommendations in your inbox.</span>
            </div>
            <form id="calc_email_subscribe" class="cc-newsletter-form" action="//manage.kmail-lists.com/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
              <input type="hidden" name="g" value="SLfpqQ"/>
              <input class="newsletter-email" required type="email" placeholder="Email Address" name="email"/>
              <button class="newsletter-button" type="submit">Sign Up</button>
            </form>
          </div>
          <h4 class="cc-bundles-title">The Collagen Bundles For You</h4>
          <p class="cc-bundles-subtitle">Shop these starter bundles to begin elevating your wellness routine -- stat!</p>
          <div class="cc-bundle-scroll-list">
            
          </div>
          <div class="cc-lively-section">
            <h5 class="cc-bundles-title">Got Collagen Questions? We've Got Answers!</h5>
            <div class="lively-grid-scroll">
              	{% assign articleHandles = 'stay-vital/collagen-calculator|stay-vital/when-should-i-start-seeing-results|stay-vital/collagen-faq|stay-vital/what-is-collagen' %}
				{% assign articleHandles = articleHandles | split: '|' %}
            	{% for articleHandle in articleHandles %}
                    {% assign article = articles[articleHandle] %}
                    {% assign splitURL = article.url | split: "/" %}
                    <a href="{{ article.url }}" class="lively-grid-item">
                      <div class="lively-image-container" style="background-image: url('{{ article.image | img_url: '500x' }}');">
                      </div>
                      <div class="lively-text-container">
                        <p class="lively-excerpt">{{ article.title }}</p>
                        <p class="lively-read-more text-blue">Read More ></p>
                      </div>
                    </a>
                {% endfor %}
            </div>
          </div>
          <p class="cc-info-paragraph"><span class="text-blue">Vital Note:</span> We recommend adding collagen to your diet for at least 2-4 weeks for best results.**</p>
          <p class="cc-info-paragraph">*We recommend discussing your health goals with your licensed healthcare professional. They can best provide you with the diagnosis and treatment of any medical condition and assist you as well in deciding whether a dietary supplement will be a helpful addition to your regimen.</p>
          <p class="cc-info-paragraph">For informational purposes only. These recommendations are based on estimates and dependent upon your age, sex, weight and diet.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cc-more-info-modal">
    <div class="cc-more-info-modal-inner">
      <div class="cc-modal-icon-section">
        <img src="{{ 'VitalProteins_Shields_Blue_Outline_small_80788aee-0d09-417f-bc5f-78ffb0b60c9c.png' | file_img_url: '60x' }}"/>
      </div>
      <div class="cc-modal-header-section">
        <h4 class="cc-info-header">The Scoop On Collagen</h4>
      </div>
      <div class="cc-modal-text-section">
        <p class="cc-info-paragraph">Your collagen needs may be unique, but their crazy-cool benefits are universal.</p>
      </div>
      <div class="modal-icon-container">
        <div class="icon-wrapper">
        	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.35 16.63"><defs><style>.cls-1{fill:#02abe3;}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Isolation_Mode" data-name="Isolation Mode"><path class="cls-1" d="M16.88,10.8h-2L13.49,8.31l1.42-2.46h2a.47.47,0,0,0,.47-.47.48.48,0,0,0-.47-.47H14.94L13.5,2.41l1-1.71a.43.43,0,0,0,0-.35.49.49,0,0,0-.22-.29A.43.43,0,0,0,14,0a.46.46,0,0,0-.29.21l-1,1.7H9.81L8.84.25A.49.49,0,0,0,8.55,0a.5.5,0,0,0-.36.05A.43.43,0,0,0,8,.36.45.45,0,0,0,8,.72L9,2.4,7.55,4.89H4.66l-1-1.67A.48.48,0,0,0,3.42,3a.5.5,0,0,0-.36,0,.44.44,0,0,0-.22.28.5.5,0,0,0,.05.36l1,1.68L2.43,7.84h-2A.48.48,0,0,0,0,8.31a.47.47,0,0,0,.47.47h2l1.43,2.5L2.89,13a.48.48,0,0,0-.05.35.49.49,0,0,0,.22.29.46.46,0,0,0,.23.06.47.47,0,0,0,.41-.23l1-1.7H7.55L9,14.23,8,15.92a.47.47,0,0,0,.17.65.47.47,0,0,0,.64-.18l1-1.69h2.93l1,1.69a.46.46,0,0,0,.4.24.48.48,0,0,0,.24-.06.48.48,0,0,0,.17-.65l-1-1.74,1.4-2.44h2a.47.47,0,1,0,0-.94Zm-8.51.47L9.8,8.78h2.87l1.44,2.49-1.44,2.49H9.8Zm-5.13-3L4.68,5.83H7.55L9,8.31,7.55,10.8H4.68ZM9.8,2.87h2.87l1.44,2.49L12.67,7.84H9.8L8.37,5.36Z"/></g></g></svg>
          	<span>Hair Goals**</span>
        </div>
        <div class="icon-wrapper">
          	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.81 18.43"><defs><style>.cls-1{fill:#02abe3;}</style></defs><title>Asset 2</title><g id="Layer_2" data-name="Layer 2"><g id="Isolation_Mode" data-name="Isolation Mode"><path class="cls-1" d="M.67,3.19h0a2.16,2.16,0,0,1,1.56.65A2.2,2.2,0,0,1,2.89,5.4a.32.32,0,0,0,.32.32h0a.32.32,0,0,0,.33-.32,2.2,2.2,0,0,1,.65-1.56A2.16,2.16,0,0,1,5.8,3.19h0a.33.33,0,0,0,.33-.33h0a.32.32,0,0,0-.33-.32h0a2.2,2.2,0,0,1-1.56-.65A2.21,2.21,0,0,1,3.59.32.33.33,0,0,0,3.26,0h0a.32.32,0,0,0-.32.32,2.21,2.21,0,0,1-.65,1.57,2.2,2.2,0,0,1-1.56.65h0a.32.32,0,0,0-.32.32h0A.32.32,0,0,0,.67,3.19ZM3.24,1.57A2.81,2.81,0,0,0,4.5,2.86,2.86,2.86,0,0,0,3.24,4.15,2.88,2.88,0,0,0,2,2.86,2.83,2.83,0,0,0,3.24,1.57Z"/><path class="cls-1" d="M16.81,8.64a.32.32,0,0,0-.32-.33h0a2.16,2.16,0,0,1-1.56-.65,2.2,2.2,0,0,1-.65-1.56A.32.32,0,0,0,14,5.78h-.06a.32.32,0,0,0-.32.32,2.2,2.2,0,0,1-.65,1.56,2.16,2.16,0,0,1-1.56.65h0a.33.33,0,0,0-.33.33h0a.32.32,0,0,0,.33.32h0a2.22,2.22,0,0,1,2.21,2.22.32.32,0,0,0,.32.32H14a.32.32,0,0,0,.32-.32A2.22,2.22,0,0,1,16.48,9h0a.32.32,0,0,0,.32-.32ZM13.92,9.93a2.81,2.81,0,0,0-1.26-1.29,2.86,2.86,0,0,0,1.26-1.29,2.88,2.88,0,0,0,1.27,1.29A2.83,2.83,0,0,0,13.92,9.93Z"/><path class="cls-1" d="M11.29,12.12h0A4.85,4.85,0,0,1,6.42,7.25a.49.49,0,0,0-.48-.48H5.83a.49.49,0,0,0-.48.48A4.86,4.86,0,0,1,3.92,10.7,4.82,4.82,0,0,1,.48,12.12h0A.48.48,0,0,0,0,12.6H0A.47.47,0,0,0,.29,13a.58.58,0,0,0,.19,0,4.79,4.79,0,0,1,3.44,1.43A4.83,4.83,0,0,1,5.35,18a.49.49,0,0,0,.48.48h.11A.49.49,0,0,0,6.42,18a4.87,4.87,0,0,1,4.87-4.87.58.58,0,0,0,.19,0,.47.47,0,0,0,.29-.44h0A.48.48,0,0,0,11.29,12.12ZM5.88,15.79a5.84,5.84,0,0,0-3.1-3.19,5.84,5.84,0,0,0,3.1-3.19A5.89,5.89,0,0,0,9,12.6,5.89,5.89,0,0,0,5.88,15.79Z"/></g></g></svg>
        	<span>Glowing Skin**</span>
        </div>
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.46 16.42"><defs><style>.cls-1{fill:#02abe3;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Banners"><path class="cls-1" d="M10.41,6.48A5.24,5.24,0,0,0,8.63,2.56,2.62,2.62,0,0,0,6,0H4.44A2.62,2.62,0,0,0,1.82,2.62v0A5.3,5.3,0,0,0,.19,6.36L0,15.8a.43.43,0,0,0,.42.43h0a.42.42,0,0,0,.43-.42L1,6.38A4.52,4.52,0,0,1,1.82,4V7.84a3.41,3.41,0,1,0,6.81,0v-4a4.45,4.45,0,0,1,.93,2.69l0,9.51a.42.42,0,0,0,.42.43.4.4,0,0,0,.43-.43ZM2.67,2.62A1.77,1.77,0,0,1,4.44.85H6A1.77,1.77,0,0,1,7.78,2.62V7.84a2.39,2.39,0,0,1-.17.89,3.39,3.39,0,0,0-2.38-1,3.2,3.2,0,0,0-2.4.92,2.68,2.68,0,0,1-.16-.86ZM5.23,10.4a2.55,2.55,0,0,1-2-.92,2.26,2.26,0,0,1,2-.85,2.54,2.54,0,0,1,1.93.86A2.53,2.53,0,0,1,5.23,10.4Z"/></g></g></svg>
        	<span>Strong Nails**</span>
        </div>
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.17 23.42"><defs><style>.cls-1{fill:#02abe3;}</style></defs><title>Asset 4</title><g id="Layer_2" data-name="Layer 2"><g id="Banners"><path class="cls-1" d="M9.26,16.53a2.45,2.45,0,0,0-2.2-4.35,2.38,2.38,0,0,0-1.48,1.65,2.45,2.45,0,0,0-1.34-.4,2.39,2.39,0,0,0-.87.16,2.45,2.45,0,0,0,.88,4.74,2.44,2.44,0,0,0,.59-.07l1.87,4.91a.39.39,0,0,0,.35.25.35.35,0,0,0,.14,0L10.93,22a.37.37,0,0,0,.22-.48Zm-.82,0,1.87,4.91-3,1.16L5.41,17.65a.39.39,0,0,0-.21-.21.4.4,0,0,0-.15,0l-.14,0s-.07,0-.07,0a1.8,1.8,0,0,1-.59.11,1.71,1.71,0,0,1-.61-3.3,1.56,1.56,0,0,1,.6-.11,1.69,1.69,0,0,1,1.34.66.38.38,0,0,0,.3.15A.31.31,0,0,0,6,15a.38.38,0,0,0,.24-.37,1.69,1.69,0,0,1,1.08-1.71,1.64,1.64,0,0,1,.61-.11A1.69,1.69,0,0,1,8.64,16,.37.37,0,0,0,8.44,16.49Z"/><path class="cls-1" d="M3.37,9.83a2.39,2.39,0,0,0,.87.16,2.45,2.45,0,0,0,1.34-.4,2.42,2.42,0,0,0,1.48,1.65,2.48,2.48,0,0,0,.88.16A2.45,2.45,0,0,0,9.26,6.89l1.89-4.95a.38.38,0,0,0-.22-.49L7.2,0,7.06,0l0,.13h0V0a.38.38,0,0,0-.35.24L4.84,5.16A2.42,2.42,0,0,0,2,6.66,2.47,2.47,0,0,0,3.37,9.83ZM10.31,2,8.44,6.93a.36.36,0,0,0,.2.47,1.7,1.7,0,0,1-.7,3.25,1.87,1.87,0,0,1-.61-.11A1.7,1.7,0,0,1,6.25,8.83.39.39,0,0,0,6,8.45l-.13,0a.37.37,0,0,0-.3.14,1.7,1.7,0,0,1-1.34.67,1.77,1.77,0,0,1-.6-.11,1.71,1.71,0,0,1,.61-3.3,1.58,1.58,0,0,1,.59.11l.07,0a.27.27,0,0,0,.14,0L5.2,6a.38.38,0,0,0,.21-.22L7.28.86Z"/><path class="cls-1" d="M4.53,12.52a.38.38,0,0,0,.35-.38v-1a.38.38,0,0,0-.35-.37c-2.86-.24-3.15-1.91-3.16-2a.39.39,0,0,0-.26-.31H1a.39.39,0,0,0-.28.12C0,9.39,0,11.42,0,11.63s0,2.25.72,3.08a.39.39,0,0,0,.28.12.22.22,0,0,0,.11,0,.37.37,0,0,0,.26-.3C1.38,14.44,1.67,12.76,4.53,12.52Zm-.4-1v.34A4,4,0,0,0,1,13.55a7.78,7.78,0,0,1-.21-1.92A7.22,7.22,0,0,1,1,9.73,4,4,0,0,0,4.13,11.47Z"/></g></g></svg>
        	<span>Happy, Healthy Joints**</span>
        </div>
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.72 15.62"><defs><style>.cls-1{fill:#02abe3;}</style></defs><title>Asset 5</title><g id="Layer_2" data-name="Layer 2"><g id="Isolation_Mode" data-name="Isolation Mode"><path class="cls-1" d="M12,.81C10.81-.38,6.53.09,6.49.1A3.76,3.76,0,0,0,4.92,2.7a3.33,3.33,0,0,0,.71,1.49,1.22,1.22,0,0,0,.67.44l.12,0a.35.35,0,0,0,.31-.06L7,4.39a.25.25,0,0,1,.11,0l.19,0a.91.91,0,0,0,.4-.18l.09-.07a.31.31,0,0,1,.12,0l.46-.08.31-.1a7.34,7.34,0,0,1,1.43-.37c.9.91,1,3.75,1.05,4.92A3.57,3.57,0,0,0,9.24,7.7a3.59,3.59,0,0,0-2.52.74,7,7,0,0,0-4.55-.75,2.14,2.14,0,0,0-1.36.7C0,9.61-.53,12.78.86,14.09l0,0a5.22,5.22,0,0,0,4.93.37,6.24,6.24,0,0,0,3.87,1.14A11.8,11.8,0,0,0,14,14.74c2.12-.85,3.57-2.11,3.69-3.2C17.92,9.71,12.93,1.73,12,.81Zm-6.3,9a.36.36,0,0,0,0,.27.32.32,0,0,0,.2.18A.36.36,0,0,0,6.39,10,1.55,1.55,0,0,1,7,9.16l0,0a2.79,2.79,0,0,1,2.18-.73,2.79,2.79,0,0,1,2.08,1.05.34.34,0,0,0,.41.12.35.35,0,0,0,.23-.35c0-.1,0-.25,0-.44v0c-.06-2.43-.27-5-1.44-6a.33.33,0,0,0-.25-.08,8.33,8.33,0,0,0-1.75.42l0,0-.19.06-.42.07a1,1,0,0,0-.44.19l-.09.07-.11,0L7,3.65a.85.85,0,0,0-.39.17l-.15.11a.61.61,0,0,1-.24-.18,2.61,2.61,0,0,1-.57-1.12,3.81,3.81,0,0,1,1-1.84c.61-.08,4-.27,4.82.52a34.91,34.91,0,0,1,3.22,5c1.5,2.65,2.35,4.58,2.29,5.17-.09.81-1.42,1.88-3.24,2.62-2.28.92-5.64,1.39-7.66-.28a.36.36,0,0,0-.23-.08.31.31,0,0,0-.13,0,4.61,4.61,0,0,1-4.41-.19c-1.08-1-.59-3.79.06-4.77a1.61,1.61,0,0,1,.91-.4A6.35,6.35,0,0,1,6.17,9,2.18,2.18,0,0,0,5.71,9.77Z"/><path class="cls-1" d="M9.34,13.08a4,4,0,0,0,2.39-.61.36.36,0,1,0-.44-.56h0c-.83.65-3.38.65-4.57-.2a.3.3,0,0,0-.26-.06.3.3,0,0,0-.23.14.36.36,0,0,0-.07.26.38.38,0,0,0,.15.24A5.49,5.49,0,0,0,9.34,13.08Z"/></g></g></svg>
        	<span>Improved Athletic Performance**</span>
        </div>
      </div>
      <div class="cc-modal-close-section">
        <a href="#" class="modal-close">OK</a>
      </div>
    </div>
  </div>
</div>
<script>
  var weight = 0; // LBs
  var refWeight = 70; // KG
  var age = 0;
  var weightScaleFactor = 0;
  var sex = "female";
  var reason = "why";
  var diet = "average";
  var bundleItems = {};
  var minimumGramsMen = 40;
  var minimumGramsWomen = 20;
  var lowRangeMultiplier = 0.6;
  
  $('.cc-form').on('submit', function(e) {
    e.preventDefault();
    
    var gramsPerDay = calculateGramsPerDay();
	var lowRangeGrams = calculateLowRange(gramsPerDay);
    var gramsRounded = roundToNearest10(gramsPerDay);
    var lowRangeGramsRounded = roundToNearest10(lowRangeGrams);
    var gramsClamped = clampMinimumGrams(gramsRounded);
    var lowRangeGramsClamped = clampMinimumGrams(lowRangeGramsRounded);
    
    if (gramsClamped === lowRangeGramsClamped) {
      gramsClamped += 10;
    }
    
    generateBundleData(Math.round(gramsPerDay), sex);
    
    $('.circle-number').text(lowRangeGramsClamped + "-" + gramsClamped);
    $('.cc-intro-page').addClass('inactive');
    $('.cc-results-page').removeClass('inactive');
    
    {% if page.handle contains "collagen-calculator" %}
    window.scrollTo(0,0);
    {% endif %}
    
    $('circle.gradient').addClass('active');
    
    if (gramsPerDay < 40) {
      $('circle.gradient').addClass('quarter');
    } else if (gramsPerDay < 60) {
      $('circle.gradient').addClass('half');
    } else if (gramsPerDay < 80) {
      $('circle.gradient').addClass('threeQuarters');
    } else {
      $('circle.gradient').addClass('full');
    }
    
    $('.bundle-cta').removeAttr('tabindex');
    
    {% if customer %}
    	{% assign customerHash = customer.id | hmac_sha256: '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' %}
        {% assign existingMetafields = '' %}
        {% for field in customer.metafields.calculator %}
            {% assign fieldKey = field | first %}
            {% assign fieldValue = "|" | append: fieldKey | append: "|" %}
            {% assign existingMetafields = existingMetafields | append: fieldValue %}
        {% endfor %}

        var formData = {
          "hash": "{{ customerHash }}",
          "customerID": "{{ customer.id }}",
          "gender": sex,
          "age": age,
          "weight": weight,
          "reason": reason,
          "gramsPerDay": Math.round(gramsPerDay),
          "diet": diet,
          "existingMetafields": "{{ existingMetafields }}"
      	};
        
    	$.ajax({
          url: 'https://collagen-calculator.herokuapp.com/profile-submit',
          dataType: 'json',
          cache: false,
          type: 'POST',
          data: formData,
          success: function (data) {
            
          },
          error: function(){
            console.log("Something went wrong - user profile not updated");
          }
        });
    {% endif %}
    
    var gaLabel = 'Gender: ' + sex + ' | Diet: ' + diet + ' | Age: ' + age + ' | Grams Per Day: ' + gramsPerDay;
    logCalcGAEvent('Calculator Submitted', gaLabel);
  });
  
  $('.read-more-link').on('click', function(e) {
    e.preventDefault();
    
    $('.cc-more-info-modal').addClass('active');
  });
  
  $('.modal-close').on('click', function(e) {
    e.preventDefault();
    
    $('.cc-more-info-modal').removeClass('active');
  });
  
  $('.cc-why-select').on('change', function(e) {
    reason = $(this).val();
  });
  
  $('.cc-gender-select').on('change', function(e) {
    sex = $(this).val();
  });
  
  $('.cc-diet-select').on('change', function(e) {
    diet = $(this).val();
  });
  
  $('input[type="number"]').on('input', function(e) {
    var weightValue = $('.cc-weight-input').val();
    var ageValue = $('.cc-age-input').val();
    
    if (weightValue) {
      weight = weightValue;
    }
    
    if (ageValue) {
      age = ageValue;
    }
    
    if (weightValue && ageValue) {
    	$('.cc-submit-button').removeAttr('disabled');
      
      	weightScaleFactor = (poundsToKilograms(weight) / refWeight);
    } else {
    	$('.cc-submit-button').attr('disabled', 'disabled');
    }
  });
  
  function clampMinimumGrams(grams) {
    if (sex === "male") {
      if (grams < minimumGramsMen) {
        return minimumGramsMen;
      } else {
        return grams;
      }
    } else {
      if (grams < minimumGramsWomen) {
        return minimumGramsWomen;
      } else {
        return grams;
      }
    }
  }
  
  function calculateLowRange(grams) {
	return grams * lowRangeMultiplier;
  }
  
  function roundToNearest10(number) {
    return Math.round(number/10)*10;
  }
  
  function poundsToKilograms(pounds) {
  	return (pounds * 0.453592); 
  }
  
  function calcCreatineSynth(age, sex) {
    if (sex === "male") {
      if (age < 40) {
        return 7.7;
      } else if (age < 60) {
         return 5.6;
      } else if (age >= 60) {
        return 3.7;
      } else {
        return 5.6;
      }
    } else {
      if (age >= 60) {
        return 3.7;
      } else {
      	return 5.6;
      }
    }
  }
  
  function calculateHydrolosis() {
    if (diet === "high") {
      return 3.0;
    } else if (diet === "low") {
      return 1.5;
    } else {
      return 2.25;
    }
  }
  
  function calculateAgeBasedDegradation() {
    var baseCollagenTissueContent = 3728.7600; // Age 29 and under
    
    if (age <= 29) {
      return baseCollagenTissueContent
    } else {
      var baseAge = 29;
      var percentLostEachYear = 0.0136;
      var degradation = baseCollagenTissueContent - (baseCollagenTissueContent * (age - 29) * percentLostEachYear);

      return degradation;
    }
  }
  
  function calculateGramsPerDay() {
    // All Magic numbers taken from spreadsheet
    const baseProcollagenDegradation = 923.9 * weightScaleFactor;
    const glycineEquivalentFinal = 12.04 * weightScaleFactor;
    
    // From table 3
    var baseCollagenTissueContent = 3728.7600;
    var ageAndWeightScaleFactor = calculateAgeBasedDegradation() * weightScaleFactor * 0.003229;

    // From table 2
    const porphryins = 240.0;
    const purines = 206.0;
    var creatineSynth = (calcCreatineSynth(age, sex) * 75.0);
    var glutathion = (567.00 * weightScaleFactor);
    const bileSalts = 60.0;
    
    const synthInMetabolism = 3.0;
    var hydrolosisDietaryProteins = calculateHydrolosis();
    var synthMetabolites = -((porphryins + purines + creatineSynth + glutathion + bileSalts) / 1000.0);
    var synthCollagen = -ageAndWeightScaleFactor;
    const synthOtherProteins = -1.0;
    
    var peptideEquivalent = -(((synthInMetabolism + hydrolosisDietaryProteins + synthMetabolites + synthCollagen + synthOtherProteins) / 3.719) * 20);
	
    
    return peptideEquivalent;
  }
  
  function generateBundleData(grams, sex) {    
    var bundlesHTML = '';
              
    if (sex == "male") {
        // Update bundle item (CTA + Image + Price + Title)
        var bundleOneItems = {
          items: [
            {
              quantity: 1,
              id: 31896451285052, //CP10RV2,
            },
            {
              quantity: 1,
              id: 31909219663932, //CBARCHAL
            },
            {
              quantity: 1,
              id: 31909170217020, //CBARLMVN
            },
            {
              quantity: 1,
              id: 31909220581436, //CBARPBCH
            }
          ]
        };
        		
        bundlesHTML += 
        	'<div class="bundle-list-item">' +
               '<h5 class="bundle-name">Go Getter</h5>' +
               '<img class="bundle-image" src="{{ 'CC_Bundle_1.jpg' | file_img_url: '600x' }}"/>' +
               '<div class="bundle-price-group">' +
               	'<span class="bundle-was-price">$33.87</span><span class="bundle-price">$28.87</span>' +
               '</div>' +
               '<a href="#" tabindex="-1" class="calculator bundle-cta" data-items=' + JSON.stringify(bundleOneItems) + '>Add To Cart</a>' +
            '</div>';
                            
        var bundleTwoItems = {
          items: [
            {
              quantity: 1,
              id: 31896451285052, //CP10RV2,
            },
            {
              quantity: 1,
              id: 31909219663932, //CBARCHAL
            },
            {
              quantity: 1,
              id: 31909170217020, //CBARLMVN
            },
            {
              quantity: 1,
              id: 31909220581436, //CBARPBCH
            },
            {
              quantity: 1,
              id: 31909222842428, //RECBBW20SX
            }
          ]
        };
        
        bundlesHTML += 
        	'<div class="bundle-list-item">' +
               '<h5 class="bundle-name">Everyday Fan</h5>' +
               '<img class="bundle-image" src="{{ 'CC_Bundle_3.jpg' | file_img_url: '600x' }}"/>' +
               '<div class="bundle-price-group">' +
               	'<span class="bundle-was-price">$82.97</span><span class="bundle-price">$70.52</span>' +
               '</div>' +
               '<a href="#" tabindex="-1" class="calculator bundle-cta" data-items=' + JSON.stringify(bundleTwoItems) + '>Add To Cart</a>' +
            '</div>';
                                
        var bundleThreeItems = {
          items: [
            {
              quantity: 1,
              id: 31909224316988, //CP20RHAVC,
            },
            {
              quantity: 1,
              id: 31909219663932, //CBARCHAL
            },
            {
              quantity: 1,
              id: 31909170217020, //CBARLMVN
            },
            {
              quantity: 1,
              id: 31909220581436, //CBARPBCH
            },
            {
              quantity: 1,
              id: 31909222842428, //RECBBW20SX
            },
            {
              quantity: 1,
              id: 31909223956540, //CPM14SPBU
            }
          ]
        };
        
        bundlesHTML += 
        	'<div class="bundle-list-item">' +
               '<h5 class="bundle-name">Performance Pro</h5>' +
               '<img class="bundle-image" src="{{ 'CC_Bundle_5.jpg' | file_img_url: '600x' }}"/>' +
               '<div class="bundle-price-group">' +
               	'<span class="bundle-was-price">$149.97</span><span class="bundle-price">$127.47</span>' +
               '</div>' +
               '<a href="#" tabindex="-1" class="calculator bundle-cta" data-items=' + JSON.stringify(bundleThreeItems) + '>Add To Cart</a>' +
            '</div>';
                                
        var bundleFourItems = {
          items: [
            {
              quantity: 1,
              id: 31909224316988, //CP20RHAVC,
            },
            {
              quantity: 1,
              id: 31909225300028, //CBARVAR12PK
            },
            {
              quantity: 1,
              id: 31909222842428, //RECBBW20SX
            },
            {
              quantity: 1,
              id: 31909223956540, //CPM14SPBU
            },
            {
              quantity: 1,
              id: 31909226348604, //PSOV10X
            }
          ]
        }
      
      bundlesHTML += 
        	'<div class="bundle-list-item">' +
               '<h5 class="bundle-name">Collagen Elite Kit</h5>' +
               '<img class="bundle-image" src="{{ 'CC_Bundle_7.jpg' | file_img_url: '600x' }}"/>' +
               '<div class="bundle-price-group">' +
               	'<span class="bundle-was-price">$249.00</span><span class="bundle-price">$211.65</span>' +
               '</div>' +
               '<a href="#" tabindex="-1" class="calculator bundle-cta" data-items=' + JSON.stringify(bundleFourItems) + '>Add To Cart</a>' +
            '</div>';
    } else {
     
        var bundleOneItems = {
          items: [
            {
              quantity: 1,
              id: 31896451285052, //CP10RV2,
            },
            {
              quantity: 1,
              id: 31909227626556, //WATBH12U
            },
            {
              quantity: 1,
              id: 31909228281916, //WATSL12U
            },
            {
              quantity: 1,
              id: 31909228675132, //WATPW12U
            }
          ]
        };
        
        bundlesHTML += 
        	'<div class="bundle-list-item">' +
               '<h5 class="bundle-name">Glow Getter</h5>' +
               '<img class="bundle-image" src="{{ 'CC_Bundle_2.jpg' | file_img_url: '600x' }}"/>' +
               '<div class="bundle-price-group">' +
               	'<span class="bundle-was-price">$33.97</span><span class="bundle-price">$28.87</span>' +
               '</div>' +
               '<a href="#" tabindex="-1" class="calculator bundle-cta" data-items=' + JSON.stringify(bundleOneItems) + '>Add To Cart</a>' +
            '</div>';
                                
        var bundleTwoItems = {
          items: [
            {
              quantity: 1,
              id: 31896451285052, //CP10RV2,
            },
            {
              quantity: 1,
              id: 31909229494332, //WATBH12U4PK
            },
            {
              quantity: 1,
              id: 31909230116924, //WATSL12U4PK
            },
            {
              quantity: 1,
              id: 31909230641212, //WATPW12U4PK
            },
            {
              quantity: 1,
              id: 31909231427644, //CCV10U
            }
          ]
        };
        
                                
    	bundlesHTML += 
        	'<div class="bundle-list-item">' +
               '<h5 class="bundle-name">Everyday Enthusiast</h5>' +
               '<img class="bundle-image" src="{{ 'CC_Bundle_4.jpg' | file_img_url: '600x' }}"/>' +
               '<div class="bundle-price-group">' +
               	'<span class="bundle-was-price">$90.00</span><span class="bundle-price">$76.50</span>' +
               '</div>' +
               '<a href="#" tabindex="-1" class="calculator bundle-cta" data-items=' + JSON.stringify(bundleTwoItems) + '>Add To Cart</a>' +
            '</div>';
      
        var bundleThreeItems = {
          items: [
            {
              quantity: 1,
              id: 31909224316988, //CP20RHAVC,
            },
            {
              quantity: 1,
              id: 31909225300028, //CBARVAR12PK
            },
            {
              quantity: 1,
              id: 31909229494332, //WATBH12U4PK
            },
            {
              quantity: 1,
              id: 31909230116924, //WATSL12U4PK
            },
            {
              quantity: 1,
              id: 31909230641212, //WATPW12U4PK
            },
            {
              quantity: 1,
              id: 31909231427644, //CCV10U
            }
          ]
        };
                                
   		bundlesHTML += 
        	'<div class="bundle-list-item">' +
               '<h5 class="bundle-name">Peptides Pro</h5>' +
               '<img class="bundle-image" src="{{ 'CC_Bundle_6.jpg' | file_img_url: '600x' }}"/>' +
               '<div class="bundle-price-group">' +
               	'<span class="bundle-was-price">$144.00</span><span class="bundle-price">$122.40</span>' +
               '</div>' +
               '<a href="#" tabindex="-1" class="calculator bundle-cta" data-items=' + JSON.stringify(bundleThreeItems) + '>Add To Cart</a>' +
            '</div>';
      
        var bundleFourItems = {
          items: [
            {
              quantity: 1,
              id: 31909224316988, //CP20RHAVC,
            },
            {
              quantity: 1,
              id: 31909225300028, //CBARVAR12PK
            },
            {
              quantity: 1,
              id: 31909229494332, //WATBH12U4PK
            },
            {
              quantity: 1,
              id: 31909230116924, //WATSL12U4PK
            },
            {
              quantity: 1,
              id: 31909230641212, //WATPW12U4PK
            },
            {
              quantity: 1,
              id: 31909231427644, //CCV10U
            },
            {
              quantity: 1,
              id: 31909233655868, //BMM10U
            },
            {
              quantity: 1,
              id: 31909234475068, //BCTH14SPBU
            }
          ]
        };
        
        bundlesHTML += 
        	'<div class="bundle-list-item">' +
               '<h5 class="bundle-name">Ultimate Collagen Kit</h5>' +
               '<img class="bundle-image" src="{{ 'CC_Bundle_8.jpg' | file_img_url: '600x' }}"/>' +
               '<div class="bundle-price-group">' +
               	'<span class="bundle-was-price">$217.00</span><span class="bundle-price">$184.45</span>' +
               '</div>' +
               '<a href="#" tabindex="-1" class="calculator bundle-cta" data-items=' + JSON.stringify(bundleFourItems) + '>Add To Cart</a>' +
            '</div>';
    }
    
    $('.cc-bundle-scroll-list').append(bundlesHTML);
  }
  
  function logCalcGAEvent(action, value) {
    if (ga) {
      ga('send', {
        hitType: 'event',
        eventCategory: 'Collagen Calculator',
        eventAction: action,
        eventLabel: value
      });
    }
  }
</script>







{% schema %}
  {
    "name": "Collagen Calculator",
  "class": "v3-collagen-calculator",
    "settings": [
 {
      "type": "color",
      "id": "v3-collagen-calculator-bg-color",
      "label": "Background Color",
	  "default": "#212121"
	}, 
 {
      "type": "image_picker",
      "id": "v3-collagen-calculator-image",
      "label": "Background Image"
	}, 
	{
      "type": "text",
      "id": "v3-collagen-calculator-heading",
      "label": "Heading",
	  "default": "How Much Collagen Should You Take Every Day?"
	},
 {
      "type": "text",
      "id": "v3-collagen-calculator-subhead",
      "label": "Subhead",
	  "default": "Our first-of-its-kind Collagen Calculator helps answer that exact question. Plus, we provide you with A+ collagen bundles that align with your results. (Yep, we did that.)"
	},
 {
      "type": "color",
      "id": "v3-collagen-calculator-text-color",
      "label": "Text Color",
	  "default": "#ffffff"
	}
],
  "presets": [{
    "name": "Collagen Calculator",
    "category": "V3 Sections",
    "settings": {

    }
  }]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}