<style>

  .vital-hero-v3 {
    /* display: flex; */
    /* max-width: 100%; */
    min-height: 500px;
    /* background: #212121; */
    /* justify-content: center; */
    align-items: top;
    padding: 50px;
    padding-top: 35px;
    text-align: center;
}
  
  
  
		.vital-hero-v3 h1 {
			color:#ffffff;
			font-family: 'kapraregular';
          	line-height:1em;
          	text-transform:none !important;
			margin:0px;
		}
		
.vital-hero-v3 h2 {
    color: #ffffff;
    font-family: "Avenir Next", sans-serif;
    font-weight: 500;
    margin: 0px;
    text-transform: none !important;
    letter-spacing: .1em !important;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.2em;
    margin-top: 15px;
}
		
		.vital-hero-v3-button {
			display:flex;
			justify-content: center;
			align-items: center;
			min-width:200px;
			max-width:320px;
			margin:0 auto;
			height:40px;
			background:#CEEA77;
			padding:8px;
			color:#ffffff;
			text-decoration:none;
			font-family:"Avenir Next", sans-serif;
			font-weight:700;
			letter-spacing:3px;
			line-height:1em;
			margin-top:32px;
            border:2px solid #CBE88000;
		}
  
  
  		.vital-hero-v3-button:hover {
          border:2px solid #CBE880;
          background:#ffffff !important;
          color:#80C146 !important;
        }
  
.v1-sg-approved-button, .v3-section .thumbnail button.action_button.add_to_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00AF9A;
    margin: 0 auto;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "kapraregular";
    font-size: 22px;
    line-height: 1em;
    width: 300px;
    height: 44px;
    border: 0px !important;
    padding: 5px;
    margin-top: 32px;
    color: #ffffff;
    text-decoration: none;
  letter-spacing:1px !important;
}
  
  .v1-sg-approved-button:hover, .v3-section .thumbnail button.action_button.add_to_cart:hover {
  	background:#00D9B2 !important;
    color:#ffffff !important;
  }
  
  @media only screen and (max-width: 600px) {

.vital-hero-v3 h1 {
    font-size: 3.2em !important;
}
    
    .vital-hero-v3 {
    min-height: 360px;
}
    
    .vital-hero-v3 {
    padding: 25px;
    padding-top: 25px;
}
    

.vital-hero-v3 h2 {
    font-size: 16px !important;
    max-width: 90%;
    margin-top: 5px;
}
    
    .v3-section .thumbnail button.action_button.add_to_cart {
    width: 100%;
}
    
  }
  
  
.v1-section .thumbnail button.action_button.add_to_cart {
    width: 100% !important;
    margin-top: 0px !important;
}
  
  
  #shopify-section-1597757272102 {display:none;}

		
</style>
	



	<div class="vital-hero-v3" style="background:url( {{ section.settings.vital-hero-v3-image| img_url: '1440x' }} );background-repeat:no-repeat;background-size:cover;background-position:top center;position:relative;">
     			
      <div style="width:100%;">
		<h1 style="color:{{ section.settings.vital-hero-v3-heading-color }};font-size:{{ section.settings.vital-hero-v3-heading-size }}px;">{{ section.settings.vital-hero-v3-heading }}</h1>
		<h2 style="color:{{ section.settings.vital-hero-v3-subhead-color }};font-size:{{ section.settings.vital-hero-v3-subhead-size }}px;">{{ section.settings.vital-hero-v3-subhead }}</h2>
			<a href="{{ section.settings.vital-hero-v3-button-link }}" class="v1-sg-approved-button" style="background:{{ section.settings.vital-hero-v3-button-color }};z-index:2;">{{ section.settings.vital-hero-v3-button-text }}</a>
		</div>
      <a href=" {{ section.settings.vital-hero-v3-button-link }} " style="display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></a>
	</div>
	

{% schema %}
	{
  "name": "Simple Hero",
  "class": "vital-hero-v3-section",
  "settings": [
	    {
      "type": "image_picker",
      "id": "vital-hero-v3-image",
      "label": "Hero Image"
	}, 
	{
      "type": "text",
      "id": "vital-hero-v3-heading",
      "label": "Heading",
	  "default": "Big Time Savings"
	},
	{
      "type": "color",
      "id": "vital-hero-v3-heading-color",
      "label": "Heading Color",
	  "default": "#ffffff"
	},
	{
    "type":      "range",
    "id":        "vital-hero-v3-heading-size",
    "min":       30,
    "max":        130,
    "step":       5,
    "unit":       "px",
    "label":     "Heading Font Size",
    "default":   60
	},
	{
      "type": "text",
      "id": "vital-hero-v3-subhead",
      "label": "Sub Heading",
	  "default": "Subscribe and Save 25% now through July 1st"
	},
	{
      "type": "color",
      "id": "vital-hero-v3-subhead-color",
      "label": "Subhead Color",
	  "default": "#ffffff"
	},
	{
    "type":      "range",
    "id":        "vital-hero-v3-subhead-size",
    "min":       18,
    "max":        60,
    "step":       1,
    "unit":       "px",
    "label":     "Subhead Font Size",
    "default":   18
	},
	{
      "type": "url",
      "id": "vital-hero-v3-button-link",
      "label": "CTA Link"
	},
	{
      "type": "text",
      "id": "vital-hero-v3-button-text",
      "label": "Button Text",
	  "default": "SHOP ALL PRODUCTS"
	},
	{
      "type": "color",
      "id": "vital-hero-v3-button-color",
      "label": "Button Color",
	  "default": "#03a196"
	}
  ],
  "presets": [{
    "name": "Simple Hero",
    "category": "V3 Sections",
    "settings": {

    }
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<style>
  
  .vital-hero-v3 {
	    max-width:1440px;
    	margin: 0 auto;
	}
  
@media only screen and (max-width: 800px) {

.v3-section .flickity-prev-next-button.next {
    right: -18px !important;
	}
	
	.v3-section .flickity-prev-next-button.previous {
	    left: -32px !important;
	}
	
	.v3-color-section .v3-section-inner-dark h2, .v3-subscribe-section .v3-section-inner-dark p {
	    max-width: 90%;
	    font-size: 40px !important;
	}
	
	.vital-hero-v3 {
	    padding: 25px;
	    padding-top: 70px;
		 min-height: 350px;
	}
	
	.vital-hero-v3 h1 {
	    font-size: 60px !important;
	    margin-bottom: 25px;
	}
  
	
	#shopify-section-1594215654224 .vital-hero-v3 h2 {
	    font-size: 16px !important;
	    max-width: 90%;
	    margin-top: 5px;
	    background: #ffffffe6;
	    padding: 5px;
	}
	
	#shopify-section-1594215654224 .vital-hero-v3 {
	    padding: 25px;
	    padding-top: 30px;
		min-height:400px;
	}
	
	.cc-input-section {
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	}

	.cc-information-section {
	    padding-bottom: 0px;
	}
	
	.cc-info-paragraph .read-more-link {
    color: #ffffff !important;
    font-weight: 700 !important;
    text-decoration: underline;
}
  
  #shopify-section-1594175491637 .vital-hero-v3 h2, #shopify-section-1597757272102 .vital-hero-v3 h2 {
    font-size: 16px !important;
    max-width: 90%;
    font-weight: 700;
    margin-top: 5px;
}
  
}
  
  @media only screen and (max-width: 599px) {
.vital-hero-v3 h1 {
    font-size: 48px !important;
}
    
    .cc-info-paragraph {
    font-weight: 600;
}
  }
  
  @media (max-width: 479px) {
.newsletter_section h6 .news-message {
    line-height: 12px;
    height: 32px;
    top: 20px;
    font-size: 12px;
    margin-top: -5px;
}
    
    #email_signup {
    max-width: 285px;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 10px;
}
  }
</style>