<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">{{ 'general.404.title' | t }}</h1>
</div>

<div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">
      {{ 'general.404.subtext' | t }}
    </p>
  </div>
</div>

<div class="section clearfix search_page">
  <div class="sixteen columns center">
    <p class="extra_padding">
      {{ 'general.404.continue_shopping_html' | t }}
    </p>
  </div>
  <div class="six columns offset-by-five">
    <form class="search" action="/search">
      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
    </form>
  </div>
</div>
<script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script>

<!--PERZONALIZATION-START Do not modify or delete this comment--><div id="perzonalization" class="perzonalization"></div><script type='text/javascript'>var productDetailsForPrz = {{ product | json }};var basketDetailsForPrz = {{ cart | json }};var filterDetailsForPrz = {{ collection | json }};var detailsForPrz = { userId: '{{ customer.id }}', language: '{{ shop.locale }}', currency:'{{ shop.currency }}' };var searchDetailsForPrz = {{ search.results | json }};if(productDetailsForPrz) { productDetailsForPrz.collections = []; }{% for collection in product.collections %}   if(productDetailsForPrz) { productDetailsForPrz.collections.push("{{ collection.title }}") }{% endfor %}if (filterDetailsForPrz) { filterDetailsForPrz.products = []; }{% for product in collection.products %}   if(filterDetailsForPrz) { filterDetailsForPrz.products.push({ id:"{{ product.id }}", handle:"{{ product.handle }}" }) }{% endfor %}</script><!--Do not modify or delete this comment PERZONALIZATION-END-->