{% if page.metafields.conspire.color %}
  <style>
  .main_nav, .dropdown, .footer,.page-step2 {
        background-color: {{ page.metafields.conspire.color }} !important;
    }
  </style>
{% else %}
	<style>
      .main_nav, .dropdown, .footer,.page-step2 {
          background-color: #23b6e6 !important;
      }
	</style>
{% endif %}
  <div role="navigation" class="breadcrumb_text center" itemscope itemtype="http://schema.org/BreadcrumbList">
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
    <span class="breadcrumb-divider">/</span>
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      {% if page %}
        <a aria-current="page" aria-label="Breadcrumb - {{ page.title | escape }}" href="{{ page.url }}" title="{{ page.title | escape }}" itemprop="item" class="breadcrumb_link shop-link"><span itemprop="name">{{ page.title }}</span></a>
      {% else %}
        <a aria-label="Breadcrumb - Home" href="/collections/all" title="{{ page.all.title }}" class="breadcrumb_link"><span>{{ collections.all.title }}</span></a>
      {% endif %}
    </span>
  </div>
</div>

{% section 'primo-center' %}